<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h3>Edit mobile</h3>
	<div>
	<form th:object="${mobile}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" class="form-control"/>
		  	
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="laite">Laite</label>
			<input type="text" id="laite" th:field="*{laite}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="malli">Malli</label>
			<input type="text" id="malli" th:field="*{malli}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="yhteys">Yhteys</label>
			<input type="text" id="yhteys" th:field="*{yhteys}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="muisti">Muisti</label>
			<input type="text" id="muisti" th:field="*{muisti}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="vari">Väri</label>
			<input type="text" id="vari" th:field="*{vari}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="typelist">Type</label>
			 <select id="typelist" th:field="*{type}" class="form-control">
       			<option th:each="type: ${types}" th:value="${type.typeid}" th:text="${type.name}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-primary"></input>
	</div>

 	
</body>
</html>